# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
bin/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and temp files
*.log
*.tmp

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MacOS files
.DS_Store

# Secret files
config/secrets.yml
